<div class="wln">
    <div class="wln-title">
        <strong>会员分组</strong><a onclick="Form('')"><i class="iconfont icon-plug"></i>新增</a>
    </div>
    <div class="line"></div>
    <table id="dataTable">
        <tr>
            <td style="width:58px; text-align:center;" filed="GroupName">名称</td>
            <td style="width:58px; text-align:center;" filed="State">状态</td>
            <td style="width:128px; text-align:center;" filed="CreateTime">添加时间</td>
            <td style="width:168px;" function="onAction">操作</td>
        </tr>
    </table>

    <div class="control-window" id="memberlevelinfo">
        <table class="control-window-table">
            <tr>
                <td>名称：</td>
                <td>
                    <input type="text" id="GroupName" /><span class="tips notnull">会员分组名称</span>
                </td>
            </tr>
            <tr>
                <td>状态：</td>
                <td>
                    <select id="State">
                        <option value="1">正常</option>
                        <option value="0" class="gray">停用</option>
                    </select>
                </td>
            </tr>
        </table>
        <div class="control-window-btns">
            <a class="button green" onclick="Save();">确定</a>
            <a class="button white" onclick="control.close()">关闭</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    var table = control.datagrid('dataTable', location.pathname + '?do=pager', 10);
    function ToSearch(e) {
        if (e.keyCode == 13) {
            table.pageIndex = 1;
            table.load({ key: $('#searchkey').val() })
        }
    }
    table.State = function (e) {
        if (e.State == '正常') {
            return '<font style="color:#7DB72F">' + e.State + '</font>';
        } else {
            return '<font style="color:#999999">' + e.State + '</font>';
        }
    }
    table.onAction = function (e) {
        var str = '';
        str += '<a onclick="Form(\'' + e.Id + '\')">编辑</a>';
        str += '　<a onclick="Del(\'' + e.Id + '\')">删除</a>';
        return str;
    }
    var thisId = '';
    function Form(Id) {
        thisId = '';
        control.window('memberlevelinfo', Id ? '编辑' : '新增', 520, 380,
            function () {
                if (Id) {
                    $.getJSON(location.pathname + '?do=get', { Id: Id }, function (json) {
                        if (json && json.Id) {
                            thisId = json.Id;
                            $('#GroupName').val(json.GroupName);
                            $('#State').val(json.State);
                        }
                    });
                } else {
                    $('#trArea').show();
                }
            },
            function () {
                //关闭时回调
            });
    }
    function Save() {
        $.getJSON(location.pathname + '?do=set', {
            Id: thisId
            , GroupName: encodeURIComponent($('#GroupName').val())
            , State: $('#State').val()
        }, function (json) {
            if (json.success) {
                table.reload();
                control.close();
            } else {
                control.error(json.message);
            }
        });
    }
    function Del(Id) {
        control.confirm('确定要删除此分组吗?', '操作确认', function () {
            $.getJSON(location.pathname + '?do=del', { Id: Id }, function (json) {
                if (json.success) {
                    table.reload();
                } else {
                    control.error(json.message);
                }
            });
        });
    }
</script>